<div class="media <%= "seen" if episode.seen %>">
  <%= link_to(play_series_episode_path(episode.series, episode), class: "pull-left") do %>
    <%= image_tag episode.cached_thumb, class: "media-object episode-thumb img-responsive", alt: episode.name %>
    <%= content_tag :div, "", class: "play img-responsive" %>
  <% end %>
  <div class="media-body">
    <h2 class="media-heading">
      <%= episode.meta %> <%= episode.name %> <%= content_tag(:span, "CC", class: "label label-success") if episode.subtitles_present %>
    </h2>
    <%= content_tag :span, time_ago_in_words(episode.air_date) + " ago", title: episode.air_date %>
    <p><%= episode.overview %></p>
    <%= link_to "Play (#{APP_CONFIG['subs_locale']})", play_series_episode_path(episode.series, episode), class: "btn btn-primary" %>
    <% if APP_CONFIG['subs_locale'] != "eng" %>
      <%= link_to "Play (eng)", play_series_episode_path(episode.series, episode, lang: "eng"), class: "btn btn-default" %>
    <% end %>
    <%= link_to 'Edit', edit_series_episode_path(episode.series, episode), class: "btn btn-default" %>
    <% if episode.seen == true %>
      <%= link_to 'Mark as unwatched', unsee_series_episode_path(episode.series, episode), class: "btn btn-default", method: :patch %>
    <% end %>
    <%= link_to 'Destroy episode', series_episode_path(episode.series, episode), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
</div>