<%= form_for [@series, @episode] do |f| %>
  <% if @episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
      <% @episode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :season %><br>
    <%= f.number_field :season, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :episode %><br>
    <%= f.number_field :episode, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :remote_thumb, "Remote thumbnail URL" %><br>
    <%= f.text_field :remote_thumb, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :overview %><br>
    <%= f.text_area :overview, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :path %><br>
    <%= f.text_area :path, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :air_date %><br>
    <%= f.date_field :air_date, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
