<h1><%= @series.name %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= episode.number %></td>
        <td><%= episode.name %></td>
        <td><%= link_to 'Show', series_episode_path(@series, episode) %></td>
        <td><%= link_to 'Edit', edit_series_episode_path(@series, episode) %></td>
        <td><%= link_to 'Destroy', series_episode_path(@series, episode), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Episode', new_series_episode_path(@series, @show) %>
