<%= render 'carousel' %>
<% if @seen_count - @unseen_count != 0 %>
<div class="row">
    <div class="col-md-4">
        <h3>New episodes <span class="badge"><%= @unseen_count %></span></h3>
        <div class="unseen">
            <%= render partial: 'episode_table', object: @unseen_episodes, as: :episodes %>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Latest watched episodes</h3>
        <div class="seen">
            <%= render partial: 'episode_table', object: @seen_episodes, as: :episodes %>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Today's calendar</h3>
        <%= render 'calendar' %>
    </div>
</div>
<%= link_to 'Force update', force_update_path, class: "btn btn-info" %>
<br><br>
<% else %>
<h1>Welcome to Terebi.</h1>
<h3>Make sure to edit this file with your settings: <span class="label label-default">config/settings.yaml</span></h3>
<h3>Run <span class="label label-default">rake terebi:update</span></h3>
<h3>Enojoy :)</h3>
<% end %>