<%= render 'carousel' %>
<% if @all_episodes.count >= 1 %>
<div class="row">
    <div class="col-md-4">
        <h3>New episodes <span class="badge"><%= @unseen_episodes.count %></span></h3>
        <div class="unseen">
            <%= render partial: 'episode_table', object: @unseen_episodes, as: :episodes %>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Latest watched episodes</h3>
        <div class="seen">
            <%= render partial: 'episode_table', object: @seen_episodes, as: :episodes %>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Today's calendar</h3>
        <%= render 'calendar' %>
    </div>
</div>
<%= link_to 'Force update', force_update_path, class: "btn btn-info" %>
<br><br>

<div class="series" ng-controller="HomeCtrl">
    <input type="text" class="form-control" placeholder="Search" ng-model="search">
    <br>
    <div class="col-sm-6 col-md-3" ng-repeat="serie in series | filter:search">
      <div class="thumbnail">
        <a href="{{ serie.url }}"><img ng-src="{{ serie.cached_poster }}"></a>
        <div class="caption">
          <h3>{{ serie.name }}</h3>
          <p><em>{{ serie.overview | characters:100 }}</em></p>
          <p>
            <a href="http://www.imdb.com/title/{{ serie.imdb_id }}", target="_blank" class="btn btn-default">IMDb</a>
            <a href="http://en.wikipedia.org/wiki/List_of_{{ serie.name | formatWiki }}_episodes" target="_blank" class="btn btn-default">Episode list</a>
          </p>
        </div>
      </div>
    </div>
</div>

<br style="clear: both;">

<%= link_to 'Add new series manually', new_series_path, class: "btn btn-info" %>

<br><br>

<% else %>
<h1>Welcome to Terebi.</h1>
<h3>Make sure to run <span class="label label-default">rake terebi:install</span> before accessing this page.</h3>
<h3>Enojoy :)</h3>
<% end %>