<% if show %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag show.poster, class: "img-responsive show-poster", alt: show.name %>
      <div class="caption">
        <h3><%= show.name %></h3>
        <p> <%= link_to 'View', show, class: "btn btn-primary" %> 
            <%= link_to 'Edit', edit_show_path(show), class: "btn btn-default" %> 
            <%= link_to 'Destroy', show, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> 
        </p>
      </div>
    </div>
  </div>
<% end %>