<%= form_for(@series) do |f| %>
  <% if @series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series.errors.count, "error") %> prohibited this serie from being saved:</h2>

      <ul>
      <% @series.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :remote_poster, "Remote poster URL" %><br>
    <%= f.text_field :remote_poster, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :remote_banner, "Remote banner URL" %><br>
    <%= f.text_field :remote_banner, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :imdb_id %><br>
    <%= f.text_field :imdb_id, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :overview %><br>
    <%= f.text_area :overview, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
