<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <%= poster_link series %>
    <div class="caption">
      <h3><%= series.name %></h3>
      <p><em><%= series.overview && series.overview.truncate(100) %></em></p>
      <p> 
        <%= link_to 'IMDb', "http://www.imdb.com/title/#{series.imdb_id}/", target: "_blank", class: "btn btn-default" %> 
        <%= link_to 'Episode list', "http://en.wikipedia.org/wiki/List_of_#{series.name.gsub(" ", "_")}_episodes", target: "_blank", class: "btn btn-default" %>
      </p>
    </div>
  </div>
</div>